<%- include('include/_header') %>
  <div class="errorpage">
      <img class="search404" src="/images/search.png" alt="404">
      <img class="number404" src="/images/404.png" alt="404">
      <h1>Xin lỗi, trang bạn đang tìm kiếm
        không tồn tại!</h1>
  </div>

<%- include('include/_footer') %>