<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/cart.css">
    <%- include('include/_header') %>
    <%- include('include/_cartglory') %>
  <div class="errorpage">
      <img class="search404" src="/images/search.png" alt="404">
      <img class="number404" src="/images/404.png" alt="404">
      <h1>Xin lỗi, trang bạn đang tìm kiếm
        không tồn tại!</h1>
  </div>

<%- include('include/_footer') %>