<div class="item">
    <div class="avt">
            <img src="/images/default.jpg">
    </div>
    <div class="info">
        <p>
            <strong class="name"><%=comment.user.name%></strong>
                        </p>
        <p><label><i>1 phút trước</i></label></p>
        <div class="content">
            <%=comment.content%>
        </div>
            
    </div>
</div>