<div class="item">
    <div class="avt">
            <img src="/images/default.jpg">
    </div>
    <div class="info">
        <p>
            <strong class="name">Nguyễn Xuân Trường</strong>
                        </p>
        <p><label><i>4 phút trước</i></label></p>
        <div class="content">
            Ở Vinh - Nghệ An còn màu ghi nữa không?
        </div>
            
    </div>
</div>