<table class="m-auto">
    <tr>
        <th><%=order.book.id.substring(1,10)%></th>
        <th><%=order.book.createdAt%></th>
        <th><%=order.book.name%></th>
        <th><%=order.book.priceafterSale +"$"%></th>
        <th>Đã thanh toán</th>
    </tr>
</table>