
<table class="m-auto">
    <tr>
        <th><%=order.id%></th>
        <th><%=order.createdAt.toISOString().split('T')[0]%></th>
        <th><%=order.book.name%></th>
        <th><%=order.book.priceafterSale +"$"%></th>
        <th>Đã thanh toán</th>
    </tr>
</table>